<!--<div class="modal-header modal-headerbg ">
    <div style="font-size: 20px;">Orientation</div>

</div>

<div class="d-flex container">
    <div class="col" style="text-align: center;margin: 10px auto;">
        <div class="row" *ngIf="wtStorageService.isPortraitMode"> Web trader is best viewed in landscape mode</div>
        <div *ngIf="isAndriod">
            <div class="row" style="text-align: center">
                Please click OK to enter into full screen mode
            </div>
            <div class="row" style="text-align: left; margin: 20px 10px;float: right;">
                <button (click)="goFS()" style="cursor: pointer;font-size: 1rem;">OK</button>
            </div>
        </div>
    </div>
</div>-->
