@import "../../../css/_font-face";
@import "../../../css/_mixin";
.dropdown-toggle::after {
    display: none;
}

.dropdown-menu-indicator {
    width: 16vw;
    @media screen and (max-device-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0) {
        left: -210px!important;
        li {
            span {
                font-size: 3vw!important;
            }
        }
    }
    li {
        padding: .2vw 1vw;
        cursor: pointer;
        span {
            cursor: pointer;
            font-size: 1.5vw;
        }
        a:hover {
            background: transparent;
            color: inherit!important;
        }
        &:hover {
            background: darken( $light-grey, $amount: 45);
            color: darken( $light-grey, $amount: 15)!important;
            text-decoration: none;
        }
    }
}