@import "../../../css/_font-face";
@import "../../../css/_mixin";
div {
    color: #fff;
}

/* #chartContainer{height:80vh;margin-top:30px;} */

.chart-control {
    position: absolute;
    bottom: 3vw;
}
.chart-control button{
    clear: left;
    float: left;
    width: 2vw;
    height: 2vw;
    margin: 3px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    text-align: center;
    padding: 0px;
    border: none;
}
.chart-control #resetZoom{
    background: #fff url(/assets/images/reset-zoom.png) center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 767px) and (orientation: portrait) {
    // chart control


   .chart-control{
            bottom: 0;
            left: 50%;
            margin-left: -30px;
            button{
                clear: inherit;
                width: 4vw;
                height: 4vw;
                background-color: #2d334275;
                text-align: center;
                padding: 0px;
                color: #a0a0a0;
                border: 1px solid #6f6f6f;
                border-radius: 50%;

            }
            #resetZoom{
                background: transparent;
                position: relative;
                &::before{
                    content: ".";
                    position: absolute;
                    top: 0;
                    font-size: 7vw;
                    line-height: 0;
                    border-radius: 50%;
                    left: 0;
                    right: 0;

                }
            }
        }

}